/* red black color theme*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    color: red;
    font-family: DM Mono, sans-serif;
    margin: 0;
}

.game {
    text-align: center;
    
    background: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgb(255, 6, 6);
}
.game h1{

    font-size: 3rem;

}

.board {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #ff0000;
    color: rgb(255, 255, 255);
    font-size: 5em;
    font-family: DM Mono, sans-serif;
    cursor: pointer;
    border-radius: 5px;
}

.cell:hover {
    background: #000000;
    box-shadow: 0 0 10px rgb(255, 6, 6);
    
}

.status {
    font-size: 2em;
    font-family: DM Mono, sans-serif;
    color: #ffffff;
    margin-bottom: 20px;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    border: none;
    background: #ff0d0d;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

button:hover {
    background: #840303;
    color: #ffff;
    transition: .5s;
}

@media (max-width:991px) {
    html{
        font-size:75%;
    
    }


   body{
        padding: 2rem;
    }
}

@media (max-width:768px){
    .game h1{
        font-size: 2em;
    }
    body{
        padding: 2rem;
    }
    .game .board{
      
        grid-template-columns: repeat(3, 90px);
        grid-template-rows: repeat(3, 90px);

    }
    .game .board .cell{
        width: 90px;
        height: 90px;
    }

}
